# Ignore everything
/*

# Except these files & folders
!/src
!/public
!/.github
!/worker
!tsconfig.json
!astro.config.ts
!wrangler.jsonc
!package.json
!.prettierrc
!eslint.config.js
!README.md
!.vscode

# Ignore MDX files
*.mdx